<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>

    <%- include('../partials/head'); %>
    
    <title>Student Profile</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/style_student.css">
  </head>
  <body class="d-flex flex-column h-100">

    <%- include('../partials/navbar'); %>

    <div class="boks">
      <h5>You have been invited to a group formation. Input your preferences!</h5>
      <p>SW2-2023</p>
        <form id="StudentProfile">
          
          <button id="addPref" onclick="addPrefFunction(event)">Add student preference</button><br><br>

          <div id="prefModal" class="modal">
            <div id ="modalContent" class="modal-content">
              <span class="close">&times;</span>
              <!--
              <div id="divPref">
                
                <input type="text" id="namePreference" name="namePreference" placeholder="Search Name"><br>
                <button id="searchPref" onclick="searchPrefFunction(event)">Search</button><br> 
                
                <div class="div1" id="MyDivUL">
                  <input type="text" id="myInput" onkeyup="SearchField('myInput','myUL')" placeholder="Search for names..">
                </div>
                
              </div>
              -->
            </div>
          </div>

          <input type="text" id="override" name="override" placeholder="Override Code"><br><br>
              
          <input type="submit" class="buttonS" value="Join Group formation">
          
      </form>
    </div>
      
    <%- include('../partials/footer'); %>
    
    <script type="application/javascript" src="./js/student_profile.js"></script>
  </body>
</html>

